@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap');

body {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #092635;
}
.navbar{
  background-color: #092635;
}
.navbar-brand,
.nav-text,
.nav-link{
  color: whitesmoke !important;
}
.btn,.btnex{
  color: white;
  background-color: #610C9F;
}

.profilep{
  background-color: #092635;
}
.col{
  border: 0.5px double white;
}.buttonr{
  border: 1px;
  margin-top: 10px;
}.card{
  background-color: #474F7A;
  color:white;
}.color1{
  background-color: #1F2544;
}
